@import url('datatables.css');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #2a5dcc;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
    text-decoration: none;
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.content {
    position: relative;
    top: 100px;
    /*margin-left: -90px;*/
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }
    .header_img {
        width: 40px;
        height: 40px
    }
    .header_img img {
        width: 45px
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }
    .show {
        width: calc(var(--nav-width) + 156px)
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}


/* Modificando dimensões e posicionamento dos ícones dos inputs */

.fas {
    height: 23px;
    position: relative;
    top: 5px;
}


/* DataTables */

#myTable th {
    background-color: #4aaf74;
    font-weight: 500;
    height: 5px !important;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

#myTable td {
    height: 5px !important;
    font-size: 12px;
}

#myTable .fas {
    padding: 0 7px;
}

#myTable .fa-edit {
    color: rgb(189, 170, 0);
}

#myTable .fa-trash-alt {
    color: rgb(238, 43, 43);
}

.fa-trash-alt {
    cursor: pointer;
}

#formProducts input {
    display: inline-block;
}

.btnCadastrar {
    width: 100%;
}

.errors-label-notification {
    font-size: 12px;
    color: rgb(241, 62, 62);
    font-weight: bold;
}

.errors-label-notification i {
    position: relative;
    margin-right: 5px;
    top: 0;
}

.arrow_down1 {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(183, 193, 194);
    width: 25px;
    border-radius: 100%;
    text-align: center;
    top: -2px;
}

.arrow_down1:hover {
    opacity: 40%;
}

.arrow_down2 {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(183, 193, 194);
    width: 25px;
    border-radius: 100%;
    text-align: center;
    top: -2px;
}

.arrow_down2:hover {
    opacity: 40%;
}

.arrow_down3 {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(183, 193, 194);
    width: 25px;
    border-radius: 100%;
    text-align: center;
    top: -2px;
}

.arrow_down3:hover {
    opacity: 40%;
}

.arrow_down4 {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(183, 193, 194);
    width: 25px;
    border-radius: 100%;
    text-align: center;
    top: -2px;
}

.arrow_down4:hover {
    opacity: 40%;
}

.arrow_down5 {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(183, 193, 194);
    width: 25px;
    border-radius: 100%;
    text-align: center;
    top: -2px;
}

.arrow_down5:hover {
    opacity: 40%;
}

.fa-minus-circle {
    position: relative;
    margin-right: 7px;
    margin-left: 47px;
    color: rgb(255, 9, 9);
}

.fa-minus-circle:active {
    color: rgb(207, 33, 33);
}

.fa-plus-circle {
    position: relative;
    margin-left: 15px;
    color: rgb(38, 126, 17);
}

.fa-plus-circle:active {
    color: rgb(28, 92, 12);
}

.btn-order-pad {
    position: relative;
    margin-right: 7px;
    margin-left: 47px;
    color: rgb(36, 80, 226);
    width: 80px;
}

.legend_table {
    font-size: 17px;
    font-weight: 300;
    margin-right: 10px;
}

.title_table {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    bottom: 15px;
}

#mesa1 {
    background-color: #d9e1f0;
    padding: 15px 0;
    border-radius: 10px;
}

.selectProducts {
    width: 70% !important;
}

.addProduct {
    position: relative;
    margin-left: 20px !important;
}